
<div class="container">
  <div class="top-right">
    <p>Signed in as <%= @user.email %> </p>  <%= link_to "Logout", logout_path, method: :delete %>
  </div>

  <p id="user_id"><%= @user_id %></p>

  <div class="form-div">
    <h1>Submit a New Link</h1>

    <%= form_for(@link) do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"form-control", id:"form-title" %><br>
    <%= f.text_field :url, placeholder: "URL", class:"form-control", id:"form-url"%><br>
    <% end %>
    <input class="btn btn-default" id="baby-fake-button" type="button" value="Save">
    <p class="no-good"></p>
  </div>
  <div class="link-list-div">
    <h1>My Links</h1>

    <div class="filter">
      <label>Filter By Read Status</label>
      <%= select :link, :read, @statuses, selected: "All" %>
      <br>
      <label>Search By Title:</label>
      <%= text_field :link, :title, class: "title-search form-control shrink" %>
    </div>

    <input class="btn btn-default" id="alpha-fake-button" type="button" value="Sort Links Alphabetically">

  </div>

  <br>

  <div id="links-div">
    <table id="links-table">

    </table>
  </div>

  <div id="difs-div">
    <table id="difs-table">
      <tr>
        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
        <td>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55</td>
      </tr>
      <tr>
        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
        <td>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55</td>
      </tr>
      <tr>
        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
        <td>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55</td>
      </tr>
      <tr>
        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
        <td>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55</td>
      </tr>
      <tr>
        <td>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
        <td>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</td>
        <td>1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55</td>
      </tr>
    </table>
  </div>
</div>
