<div class="container">
  <h1>Submit a New Link</h1>

  <%= form_for(@link) do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"form-control" %><br>
    <%= f.text_field :url, placeholder: "URL", class:"form-control" %><br>
    <%= f.submit "Save Link", class:"btn btn-primary"%>
  <% end %>

  <h1>My Links</h1>
  <div id="link-list">

    <% @links.each do |link| %>
      <div id="div"<%= "#{link.id}" %> >
        <p>
          <%= link.title %> <%= link.url %> <%= link.read %>
           <div class"fake-link" id=<%= "#{link.id}" %> style="background-color: pink;">Mark as Read</div>
        </p>
      </div>
    <% end %>
  </div>
</div>
